 .main-body {
    max-width: 380px;
    margin: 130px auto;
}
.body-inner {
    position: relative;
    padding: 0;
    background-color: #fff;
    //border-radius: 4px;
    box-shadow: 0 0 1px #e1e1e1;
    overflow: hidden;
}


ul.rainbow-border {
    list-style: none;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
}

ul.rainbow-border li{
    display: inline-block;
    width: 20%;
    height: 6px;
}

.bg-danger {
    background-color: #F63A49;
    color: #fff;
}
.bg-warning {
    background-color: #EEC800;
    color: #fff;
}
.bg-success {
    background-color: #27C46B;
    color: #fff;
}
.bg-info {
    background-color: #2895C4;
    color: #fff;
}
.bg-violet {
    background-color: #9C50B8;
    color: #fff;
}

.oe_single_form_logo{
	margin-top:35px;
	
}
.oe_single_form_logo img{
	display:none;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #CBD5DD;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

.input-round {
    //border-radius: 25px;
}
.form-control {
    border-width: 1px;
    box-shadow: none;
}

.oe_login_form{
	padding: 20px 45px;
}

.btn-icon-lined.btn-default-light {
    color: #bbb;
    border: 0px;
}

.form-group .btn-icon-lined {
    position: absolute;
    top: 5px;
    left: 6px;
}

.btn-icon-sm.btn-icon-lined {
    line-height: 26px;
}

.btn-icon-sm {
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.btn-icon-lined {
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #767676;
    color: #767676;
    height: 35px;
    width: 35px;
    line-height: 35px;
}
.form-group {
    position: relative;
}

.btn-icon-round {
    //border-radius: 50%;
}
.glyphicon {
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0px;
}

.input-round {
    //border-radius: 25px;
    text-align: left;
    padding-left: 51px;
}

 .body-inner>footer {
    background-color: #F7F7F7;
    padding: 10px 16px;
    color: #767676;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #e1e1e1;
}

.btn-primary{
	color: #fff;
    background-color: #4490f7;
    border-color: #4490f7;
    display: block;
    width: 100%;
    font-size:20px;
}

body.login_content{
    background: url(//tb2.bdstatic.com/tb/static-common/img/tb_login/login_bg_f102979.jpg) no-repeat fixed center 0;
    position: position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    //z-index: -1;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    zoom: 1;
}

body.login_content>.row{
	margin-left: 0px;
    margin-right: 0px;
}

.oe_single_form_footer{
	display:none;
}


.tang-title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    border-width: 1px 1px 0;
    border-bottom: 0;
}

.tang-title span{
	 line-height: 45px;
	 padding-left: 21px;
	 font-weight: bold;
}

.tang-pass-pop-login label.pass-label-userName{
    display: block;
    position: absolute;
    top: 8px;
    left: 6px;
    width: 0;
    height: 24px;
    overflow: hidden;
    padding: 0 0 0 24px;
    z-index: 20;
}

.icon-user{
	display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 0;
    height: 24px;
    overflow: hidden;
    padding: 0 0 0 24px;
    background: url(/web/static/src/img/login/input_icons_24_6983bd0.png) no-repeat;
    z-index: 20;
    background-position: 0 -68px;  
}

.icon-pwd{
	display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 0;
    height: 24px;
    overflow: hidden;
    padding: 0 0 0 24px;
    background: url(/web/static/src/img/login/input_icons_24_6983bd0.png) no-repeat;
    z-index: 20;
    background-position: 0 -147px;
}

.login_anchor {
    background: url(/web/static/src/img/login/top.png) no-repeat center center;
    _background: 0 0;
    height: 157px;
    width: 306px;
    margin: 0 auto;
}


